#heading1{
    color: green;
    background-color: red;
}
.heading{
    color: blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
button{
    background-color: blue;
    color: white;
}